In [2]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://test_user:Kolesgit99!@192.168.88.199:3307/GPW?charset=utf8mb4")
conn = engine.connect()

In [80]:
## MM DD RRRR
date_from = '02-01-2015'
day_from = date_from[:2]
month_from = date_from[3:5]
year_from = date_from[-4:]

date_to = '05-01-2015'
day_to = date_to[:2]
month_to = date_to[3:5]
year_to = date_to[-4:]


q = f"""select * from notowania where Date_new > '{year_from}-{month_from}-{day_from}' and Date_new <= '{year_to}-{month_to}-{day_to}' """

df = pd.read_sql(q,con=conn).drop(columns=['level_0','index'])
df.loc[df['Ticker'].str.contains('06')]

## POTRZEBA RRRR MM DD

,Ticker,Currency,Open,Max,Min,Close,Volume_in_thousands,Date,Date_new
0,06MAGNA,PLN,2.2900,2.4000,2.1300,2.1500,1.32,05-01-2015,2015-01-05

In [77]:
# df['Date'] = df.Date.apply(lambda x: str(x))
df['Date_new'] = df.Date.str[-4:]+'-'+df.Date.str[3:5]+'-'+df.Date.str[:2]
df.to_sql('notowania',con=conn, if_exists='replace')

862211

In [ ]:
def get_data_from_db(date_from,date_to,ticker):
    
    engine = create_engine("mysql+pymysql://test_user:Kolesgit99!@192.168.88.199:3307/GPW?charset=utf8mb4")
    conn = engine.connect()

    q = f"""select * from notowania where Date_new > '{year_from}-{month_from}-{day_from}' and Date_new <= '{year_to}-{month_to}-{day_to}' """

    df = pd.read_sql(q,con=conn).drop(columns=['level_0','index'])


    if ticker=='ALL':
        return df
        
    else:
        return df.loc[df['Ticker'].str.contains(ticker)]

## Connection

In [ ]:

def test_conn(db_type,db_user,db_pass,db_ip,db_port,database):

    if db_type=='PostgreSQL':
        engine = create_engine(f"""postgresql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")      

    elif db_type=='MySQL':
        engine = create_engine(f"""mysql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")

    elif db_type=='Oracle':
        engine = create_engine(f"""oracle://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")

    elif db_type=='SQL Server':
        engine = create_engine(f"""mssql+pymssql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")


    try:
        engine.connect()
        msg = 'Connected!'        
        return engine, msg

    except Exception:
        msg = 'Check your db credentials'
        return engine, msg

In [16]:
import sqlite3

conn = sqlite3.connect('../static/db_credentials/creds.db')

In [7]:
import pandas as pd
conn_str = ['postgresql://test_user:Kolesgit99!@192.168.88.199:3306/otomoto','active']
pd.DataFrame(conn_str).T.rename({0:'connection_string',1:'status'},axis=1).to_sql('connections',if_exists='append',con=conn)

                                   connection_string  status
0  postgresql://test_user:Kolesgit99!@192.168.88....  active

In [17]:
q = 'select * from connections'
pd.read_sql(q,con=conn)

                                   connection_string  status
0  postgresql://test_user:Kolesgit99!@192.168.88....  active