In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

# Predict

In [39]:
q = '''SELECT * FROM gpw_predictors."06MAGNA"
order by to_date("Date",'dd-mm-yyyy');'''
df = pd.read_sql(q,conn)

In [40]:

df['Close_pct'] = df['Close'].pct_change().mul(100)
df['Open_pct'] = df['Open'].pct_change().mul(100)
df['Max_pct'] = df['Max'].pct_change().mul(100)
df['Min_pct'] = df['Min'].pct_change().mul(100)
df = df.iloc[1:,:]
df = df.drop(columns=['level_0','index','Ticker','Currency','Open','Max','Min','Close','Year'])
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)
df = df.set_index('Date')
df.index

DatetimeIndex(['2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-11', '2010-01-12', '2010-01-13', '2010-01-14',
               '2010-01-15', '2010-01-18',
               ...
               '2022-09-05', '2022-09-06', '2022-09-07', '2022-09-08',
               '2022-09-09', '2022-09-12', '2022-09-13', '2022-09-14',
               '2022-09-15', '2022-09-16'],
              dtype='datetime64[ns]', name='Date', length=3178, freq=None)

In [3]:
df

,level_0,index,Ticker,Currency,Open,Max,Min,Close,Volume_in_thousands,Date,...,EV / EBITDA,C/ZO,C/WK,Cena / WK Grahama,C/P,C/Z,Close_pct,Open_pct,Max_pct,Min_pct
0,18,9.0,06MAGNA,PLN,1.130,1.13,1.090,1.120,335.72,04-01-2010,...,10.82,-14.000,0.216216,0.000017,0.059925,-1.750000,43.589744,41.250000,41.250000,39.743590
1,7206,6786.0,06MAGNA,PLN,1.120,1.13,1.100,1.110,214.90,05-01-2010,...,10.82,-13.875,0.214286,0.000017,0.059390,-1.734375,-61.256545,-62.666667,-62.333333,-60.784314
2,12352,11932.0,06MAGNA,PLN,1.110,1.11,1.090,1.100,336.94,06-01-2010,...,10.82,-13.750,0.212355,0.000016,0.058855,-1.718750,61.764706,58.571429,56.338028,60.294118
3,17253,16833.0,06MAGNA,PLN,1.100,1.10,1.070,1.090,336.20,07-01-2010,...,10.82,-13.625,0.210425,0.000016,0.058320,-1.703125,53.521127,61.764706,54.929577,59.701493
4,22154,21734.0,06MAGNA,PLN,1.090,1.10,1.070,1.090,230.67,08-01-2010,...,10.82,-13.625,0.210425,0.000016,0.058320,-1.703125,55.714286,55.714286,52.777778,55.072464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,32,16.0,06MAGNA,PLN,2.950,2.95,2.840,2.945,11.03,12-09-2022,...,24.46,29.450,1.465174,0.000523,6.693182,26.772727,-1.505017,0.169779,-3.594771,-2.068966
3175,30,15.0,06MAGNA,PLN,2.945,3.06,2.900,2.990,48.02,13-09-2022,...,24.46,29.900,1.487562,0.000531,6.795455,27.181818,1.184433,1.551724,2.684564,2.836879
3176,28,14.0,06MAGNA,PLN,2.900,2.98,2.820,2.955,22.80,14-09-2022,...,24.46,29.550,1.470149,0.000525,6.715909,26.863636,5.913978,5.454545,3.114187,3.486239
3177,34,17.0,06MAGNA,PLN,3.000,3.00,2.805,2.865,10.52,15-09-2022,...,24.46,28.650,1.425373,0.000509,6.511364,26.045455,-2.716469,1.694915,1.694915,-1.232394
3178,1,0.0,06MAGNA,PLN,2.865,2.98,2.850,2.960,18.58,16-09-2022,...,24.46,29.600,1.472637,0.000526,6.727273,26.909091,1380.000000,inf,inf,inf

## Daily upload

In [ ]:
from gpw_functions import get_stock_prices
from datetime import date
import sqlite3

def day():
    if date.today().day<10:
        return '0' + str(date.today().day)
    else:
        return str(date.today().day)

def month():
    if date.today().month<10:
        return '0' + str(date.today().month)
    else:
        return str(date.today().month)
    
def year():
    if date.today().year<10:
        return '0' + str(date.today().year)
    else:
        return str(date.today().year)

# Get date in a correct format
stocs_date = f'{day()}-{month()}-{year()}'

# Get stock prices for that date
data = get_stock_prices(stocs_date,stocs_date)

# Get all registered connection stirings
conn_creds = sqlite3.connect('../static/db_credentials/creds_DB.db')
creds = pd.read_sql('select * from connected_dbs.connections', con=conn)

# Iterate through conn strings and upload the data
for conn_string in creds.iterrows():
    try:
        data.to_sql(conn_string[1][1],con = conn_string[1][0], schema = conn_string[1][2],if_exists = 'append')
    except Exception:
        continue

In [ ]:
import sqlalchemy
import pandas as pd
import shutil
import os

engine = sqlalchemy.create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

q = f"""select distinct * from gpw.notowania"""
df = pd.read_sql(q,con=conn)

dates_list = []
for date in pd.to_datetime(df['Date'],format="%d-%m-%Y").sort_values().unique().astype(str):
    dates_list.append(date[:10])
   
# Updae dates dropdowns
with open('../static/dropdown/dates_to.csv','w') as file:
    for line in dates_list:
        file.write(line + ',')
        file.write('\n')

shutil.copy('../static/dropdown/dates_to.csv','../static/dropdown/dates_from.csv')

# Update prediction tickers dropdown
with open('../static/dropdown/tickers_preds.csv','w') as file:
    for line in ['ALL'] + df['Ticker'].unique().tolist():
        file.write(line + ',')
        file.write('\n')

# Update tickers dropdown
with open('../static/dropdown/tickers.csv','w') as file:
    for line in ['ALL'] + df['Ticker'].unique().tolist():
        file.write(line + ',')
        file.write('\n')

# Clear downloads
path = '../static/downloads/'
for file in os.listdir(path):
    os.remove(path + file)

In [ ]:

from gpw_functions import get_stock_prices
from datetime import date
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

from gpw_functions import get_stock_prices
from datetime import date
import sqlite3

def day():
    if date.today().day<10:
        return '0' + str(date.today().day)
    else:
        return str(date.today().day)

def month():
    if date.today().month<10:
        return '0' + str(date.today().month)
    else:
        return str(date.today().month)
    
def year():
    if date.today().year<10:
        return '0' + str(date.today().year)
    else:
        return str(date.today().year)

# Get date in a correct format
stocs_date = f'{day()}-{month()}-{year()}'

# Get stock prices for that date
data = get_stock_prices(stocs_date,stocs_date)

# Get all registered connection stirings
conn_creds = sqlite3.connect('../static/db_credentials/creds_DB.db')
creds = pd.read_sql('select * from connected_dbs.connections', con=conn)

# Iterate through conn strings and upload the data
for conn_string in creds.iterrows():
    try:
        data.to_sql(conn_string[1][1],con = conn_string[1][0], schema = conn_string[1][2],if_exists = 'append')
    except Exception:
        continue

In [ ]:
import pandas as pd
import plotly.express as px

df = pd.read_csv('../static/downloads/stocks_2010-01-04-2010-01-12.csv')

fig = px.line(df, x="Date", y="Close", title='06MAGNA')
fig.show()

In [ ]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://test_user:Kolesgit99!@192.168.88.199:3307/GPW?charset=utf8mb4")
conn_str_maria = engine.connect()

engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

In [ ]:
# import 
# import pandas as pd
# mapa = pd.read_sql('select * from mapowanie',con=conn_str_maria)

# mapa.to_sql('mapowanie',con=conn,schema='gpw')

In [ ]:
from gpw_functions import map_financial_data,get_stock_prices

df = get_stock_prices(date_from='16-09-2022',date_to='16-09-2022')

df

In [ ]:
# map_financial_data(df,conn)
df.info()

In [ ]:
import pandas as pd

pd.read_csv('missing_companies.csv')

In [ ]:
from gpw_functions import get_stock_prices
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

starts = ['01-01-2010','01-01-2011','01-01-2012','01-01-2013','01-01-2014','01-01-2015','01-01-2016','01-01-2017','01-01-2018','01-01-2019','01-01-2020','01-01-2021','01-01-2022']
stops = ['31-12-2010','31-12-2011','31-12-2012','31-12-2013','31-12-2014','31-12-2015','31-12-2016','31-12-2017','31-12-2018','31-12-2019','31-12-2020','31-12-2021','09-09-2022']

for start,stop in zip(starts,stops):

    df = get_stock_prices(start,stop)
    df.to_sql('notowania',schema='gpw',con=conn, if_exists='replace')

In [ ]:
## MM DD RRRR
date_from = '02-01-2015'
day_from = date_from[:2]
month_from = date_from[3:5]
year_from = date_from[-4:]

date_to = '05-01-2015'
day_to = date_to[:2]
month_to = date_to[3:5]
year_to = date_to[-4:]


q = f"""select * from gpw.notowania where Date_new > '{year_from}-{month_from}-{day_from}' and Date_new <= '{year_to}-{month_to}-{day_to}' """

df = pd.read_sql(q,con=conn).drop(columns=['level_0','index'])
df.loc[df['Ticker'].str.contains('06')]

## POTRZEBA RRRR MM DD

In [ ]:
# df['Date'] = df.Date.apply(lambda x: str(x))
df['Date_new'] = df.Date.str[-4:]+'-'+df.Date.str[3:5]+'-'+df.Date.str[:2]
df.to_sql('notowania',con=conn, if_exists='replace')

In [ ]:
def get_data_from_db(date_from,date_to,ticker):
    
    engine = create_engine("mysql+pymysql://test_user:Kolesgit99!@192.168.88.199:3307/GPW?charset=utf8mb4")
    conn = engine.connect()

    q = f"""select * from notowania where Date_new > '{year_from}-{month_from}-{day_from}' and Date_new <= '{year_to}-{month_to}-{day_to}' """

    df = pd.read_sql(q,con=conn).drop(columns=['level_0','index'])


    if ticker=='ALL':
        return df
        
    else:
        return df.loc[df['Ticker'].str.contains(ticker)]

## Connection

In [ ]:

def test_conn(db_type,db_user,db_pass,db_ip,db_port,database):

    if db_type=='PostgreSQL':
        engine = create_engine(f"""postgresql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")      

    elif db_type=='MySQL':
        engine = create_engine(f"""mysql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")

    elif db_type=='Oracle':
        engine = create_engine(f"""oracle://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")

    elif db_type=='SQL Server':
        engine = create_engine(f"""mssql+pymssql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")


    try:
        engine.connect()
        msg = 'Connected!'        
        return engine, msg

    except Exception:
        msg = 'Check your db credentials'
        return engine, msg

In [ ]:
import sqlite3

conn = sqlite3.connect('../static/db_credentials/creds.db')

In [ ]:
import pandas as pd
conn_str = ['postgresql://test_user:Kolesgit99!@192.168.88.199:3306/otomoto','active']
pd.DataFrame(conn_str).T.rename({0:'connection_string',1:'status'},axis=1).to_sql('connections',if_exists='append',con=conn)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

from gpw_functions import get_stock_prices,map_financial_data


# q = 'select * from connections'
# pd.read_sql(q,con=conn)
df = get_stock_prices(date_from='16-09-2022',date_to='16-09-2022')

In [ ]:
import unidecode

for col in df.columns:
    try: 
        df[col] = df[col].apply(unidecode.unidecode).apply(lambda x: x.replace(' ','')).apply(float)
        df[col] = df[col]
    except: continue 

# df['Close'] = df['Close'].apply(lambda x: x.replace(' ',''))
# df['Close'] = df['Close'].apply(float)

# for line in df['Close']:
#     try: float(line)

#     except: val = line

df.info()
x1, x2, x3, x4 = map_financial_data(df,conn)

In [ ]:
import sqlalchemy
import pandas as pd
import os
from gpw_functions import map_financial_data
import time
import numpy as np

from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()


# # get all data
# q = f"""select distinct * from gpw.notowania """
# df_all = pd.read_sql(q,con=conn)

# get all tickers
# q = f"""SELECT distinct "Ticker" FROM gpw.notowania order by "Ticker";"""
# tickers = pd.read_sql(q,con=conn)

# import itertools

# print(len([x[0] for x in tickers.values]))
# print([x[0] for x in tickers.values].index('SWISSMED'))

In [ ]:
import requests
# url = 'https://www.biznesradar.pl/raporty-finansowe-rachunek-zyskow-i-strat/06MAGNA'
# requests.get(url).status_code==200

In [ ]:
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import unidecode
import plotly.express as px
import sqlalchemy
import pandas as pd

from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()


def convert_to_floats(df):
    for col in df.columns:
        try: 
            df[col] = df[col].apply(unidecode.unidecode).apply(lambda x: x.replace(' ','')).apply(float)
        except Exception: continue 
    
    return df


#================================================================================================================
q_rzis = """SELECT *
FROM "gpw_RZiS"."06MAGNA";
"""
try:
    df_rzis = pd.read_sql(q_rzis,con=conn).drop(columns='index').rename({'O4K ':'2022','Inde':'index'},axis=1).set_index('index').T.reset_index()
    df_rzis = convert_to_floats(df_rzis)
except Exception:
    df_rzis = None
#================================================================================================================
q_cf = """SELECT *
FROM "gpw_CF"."06MAGNA";
"""
try:
    df_cf = pd.read_sql(q_cf,con=conn).drop(columns='index').rename({'O4K ':'2022','Inde':'index'},axis=1).set_index('index').T.reset_index()
    df_cf = convert_to_floats(df_cf)
except Exception:
    df_cf = None
#================================================================================================================

q_bs = """SELECT *
FROM "gpw_BS"."06MAGNA";
"""
try:
    df_bs = pd.read_sql(q_bs,con=conn).drop(columns='index').rename({'O4K ':'2022','Inde':'index'},axis=1).set_index('index').T.reset_index()
    df_bs = convert_to_floats(df_bs)
    df_bs['Total liabilities'] = df_bs['Aktywa razem'] - df_bs['Kapitał własny akcjonariuszy jednostki dominującej'] - df_bs['Kapitał (fundusz) podstawowy'] - df_bs['Udziały (akcje) własne'] - df_bs['Kapitał (fundusz) zapasowy'] - df_bs['Udziały niekontrolujące']
except Exception:
    df_bs = None

#================================================================================================================
q_pred = """SELECT *
FROM "gpw_predictors"."06MAGNA" order by TO_DATE("Date",'DD-MM-YYYY');
"""
try:
    df_pred = pd.read_sql(q_pred,con=conn).drop(columns=['index','level_0'])
    df_pred = convert_to_floats(df_pred)
except Exception:
    df_pred = None

In [ ]:
import plotly.graph_objects as go

#======== Profitability ================================================================================================================================================================================================
# Graph 1 - (sales revenue) Przychody ze sprzedaży vs (COGS) Techniczny koszt wytworzenia produkcji sprzedanej + Koszty sprzedaży + Koszty ogólnego zarządu
try: fig1 = px.bar(data_frame=df_rzis.rename({'Przychody ze sprzedaży':'Sales Revenue','Zysk netto':'Net Profit'},axis=1)
                    ,y='Sales Revenue',x='index').data[0]
except Exception: fig1 = px.bar(x=[0],y=[0]).data[0]

# Graph 2 - (net profit) Zysk netto
try: fig2 = px.bar(data_frame=df_rzis.rename({'Przychody ze sprzedaży':'Sales Revenue','Zysk netto':'Net Profit'},axis=1)
                    ,y='Net Profit',x='index',color='Net Profit').data[0]
except Exception: fig2 = px.bar(x=[0],y=[0]).data[0]

#======== Liquidity ====================================================================================================================================================================================================
# Graph 3 - (cash flow from operations) Przepływy pieniężne z działalności operacyjnej
try: fig3 = px.bar(data_frame=df_cf.rename({'Przepływy pieniężne z działalności operacyjnej':'CF from operations','Przepływy pieniężne razem':'Total CF'},axis=1)
                    ,y='CF from operations',x='index',color='CF from operations').data[0]
except Exception: fig3 = px.bar(x=[0],y=[0]).data[0]

# Graph 4 - (total cash flow) Przepływy pieniężne razem
try: fig4 = px.bar(data_frame=df_cf.rename({'Przepływy pieniężne z działalności operacyjnej':'CF from operations','Przepływy pieniężne razem':'Total CF'},axis=1)
                    ,y='Total CF',x='index',color='Total CF').data[0]
except Exception: fig4 = px.bar(x=[0],y=[0]).data[0]

#======== Balance Sheet ================================================================================================================================================================================================
# Graph 5 - (total assets) Aktywa razem
try: fig5 = px.bar(data_frame=df_bs.rename({'Aktywa razem':'Total assets'},axis=1),
                    y='Total assets',x='index').data[0]
except Exception: fig5 = px.bar(x=[0],y=[0]).data[0]

# Graph 6 - (total liabilities) Aktywa razem - Kapitał własny akcjonariuszy jednostki dominującej - Kapitał (fundusz) podstawowy - Udziały (akcje) własne - Kapitał (fundusz) zapasowy - Udziały niekontrolujące
try: fig6 = px.bar(data_frame=df_bs,y='Total liabilities',x='index').data[0]
except Exception: fig6 = px.bar(x=[0],y=[0]).data[0]

#======== Indicators ===================================================================================================================================================================================================
# Graph 7 - (P/E) C/Z
try: fig7 = px.line(data_frame=df_pred.rename({'C/Z':'P/E'},axis=1)
                    ,y='P/E',x='Date').data[0]
except Exception: fig7 = px.bar(x=[0],y=[0]).data[0]

# Graph 8 - (P/BW) C/WK
try: fig8 = px.line(data_frame=df_pred.rename({'C/WK':'P/BV'},axis=1)
                    ,y='P/BV',x='Date').data[0]
except Exception: fig8 = px.bar(x=[0],y=[0]).data[0]

# Graph 9 - (EV/EBITDA) EV/EBITDA
try: fig9 = px.line(data_frame=df_pred,y='EV / EBITDA',x='Date').data[0]
except Exception: fig9 = px.bar(x=[0],y=[0]).data[0]

#======== Figures =====================================================================================================================================================================================================
fig_list = [fig1,fig2,fig3,fig4,fig5,fig6,fig7,fig8,fig9]

fig = make_subplots(rows=9, cols=1,subplot_titles=("Sales Revenue", "Net Profit/Loss", "Cash flow from operations", "Total cash flow","Total assets","Total liabilities","Price to Earnings indicator","Price to Book Value indicator ","Enterpise Value to EBITDA indicator"))
for i,fig_ in enumerate(fig_list):
    fig.add_trace(fig_, row=i + 1, col=1)

fig.update_layout(height=3000, width=1500, title_text="Financial data",coloraxis=dict(colorscale='temps_r'))
fig.to_html()

In [2]:
from dashboards_refresh import get_and_plot_data

stuff = get_and_plot_data('CDPROJEKT',data_type = 'html')

In [5]:
with open('dashboards.html','w') as file:
    file.write(stuff)