In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

## Daily upload

In [ ]:
from gpw_functions import get_stock_prices
from datetime import date
import sqlite3

def day():
    if date.today().day<10:
        return '0' + str(date.today().day)
    else:
        return str(date.today().day)

def month():
    if date.today().month<10:
        return '0' + str(date.today().month)
    else:
        return str(date.today().month)
    
def year():
    if date.today().year<10:
        return '0' + str(date.today().year)
    else:
        return str(date.today().year)

# Get date in a correct format
stocs_date = f'{day()}-{month()}-{year()}'

# Get stock prices for that date
data = get_stock_prices(stocs_date,stocs_date)

# Get all registered connection stirings
conn_creds = sqlite3.connect('../static/db_credentials/creds_DB.db')
creds = pd.read_sql('select * from connected_dbs.connections', con=conn)

# Iterate through conn strings and upload the data
for conn_string in creds.iterrows():
    try:
        data.to_sql(conn_string[1][1],con = conn_string[1][0], schema = conn_string[1][2],if_exists = 'append')
    except Exception:
        continue

In [ ]:
import sqlalchemy
import pandas as pd
import shutil
import os

engine = sqlalchemy.create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

q = f"""select distinct * from gpw.notowania"""
df = pd.read_sql(q,con=conn)

dates_list = []
for date in pd.to_datetime(df['Date'],format="%d-%m-%Y").sort_values().unique().astype(str):
    dates_list.append(date[:10])
   
# Updae dates dropdowns
with open('../static/dropdown/dates_to.csv','w') as file:
    for line in dates_list:
        file.write(line + ',')
        file.write('\n')

shutil.copy('../static/dropdown/dates_to.csv','../static/dropdown/dates_from.csv')

# Update prediction tickers dropdown
with open('../static/dropdown/tickers_preds.csv','w') as file:
    for line in ['ALL'] + df['Ticker'].unique().tolist():
        file.write(line + ',')
        file.write('\n')

# Update tickers dropdown
with open('../static/dropdown/tickers.csv','w') as file:
    for line in ['ALL'] + df['Ticker'].unique().tolist():
        file.write(line + ',')
        file.write('\n')

# Clear downloads
path = '../static/downloads/'
for file in os.listdir(path):
    os.remove(path + file)

In [ ]:

from gpw_functions import get_stock_prices
from datetime import date
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

from gpw_functions import get_stock_prices
from datetime import date
import sqlite3

def day():
    if date.today().day<10:
        return '0' + str(date.today().day)
    else:
        return str(date.today().day)

def month():
    if date.today().month<10:
        return '0' + str(date.today().month)
    else:
        return str(date.today().month)
    
def year():
    if date.today().year<10:
        return '0' + str(date.today().year)
    else:
        return str(date.today().year)

# Get date in a correct format
stocs_date = f'{day()}-{month()}-{year()}'

# Get stock prices for that date
data = get_stock_prices(stocs_date,stocs_date)

# Get all registered connection stirings
conn_creds = sqlite3.connect('../static/db_credentials/creds_DB.db')
creds = pd.read_sql('select * from connected_dbs.connections', con=conn)

# Iterate through conn strings and upload the data
for conn_string in creds.iterrows():
    try:
        data.to_sql(conn_string[1][1],con = conn_string[1][0], schema = conn_string[1][2],if_exists = 'append')
    except Exception:
        continue

In [ ]:
import pandas as pd
import plotly.express as px

df = pd.read_csv('../static/downloads/stocks_2010-01-04-2010-01-12.csv')

fig = px.line(df, x="Date", y="Close", title='06MAGNA')
fig.show()

In [1]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://test_user:Kolesgit99!@192.168.88.199:3307/GPW?charset=utf8mb4")
conn_str_maria = engine.connect()

engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

In [2]:
# import 
# import pandas as pd
# mapa = pd.read_sql('select * from mapowanie',con=conn_str_maria)

# mapa.to_sql('mapowanie',con=conn,schema='gpw')

In [2]:
from gpw_functions import map_financial_data,get_stock_prices

df = get_stock_prices(date_from='16-09-2022',date_to='16-09-2022')

df

,Ticker,Currency,Open,Max,Min,Close,Volume_in_thousands,Date
0,06MAGNA,PLN,2.8650,2.9800,2.8500,2.9600,18.58,16-09-2022
1,08OCTAVA,PLN,1.0500,1.0500,1.0500,1.0500,0.33,16-09-2022
2,11BIT,PLN,534.0000,547.0000,507.0000,507.0000,8Â 106.60,16-09-2022
3,3RGAMES,PLN,0.4110,0.4230,0.4110,0.4200,4.17,16-09-2022
4,ABPL,PLN,37.3000,37.8500,37.0500,37.6000,33.39,16-09-2022
...,...,...,...,...,...,...,...,...
415,ZEPAK,PLN,22.4000,23.4000,21.6000,23.4000,4Â 037.88,16-09-2022
416,ZPUE,PLN,299.0000,307.0000,298.0000,306.0000,75.16,16-09-2022
417,ZREMB,PLN,1.9400,1.9900,1.9100,1.9700,15.40,16-09-2022
418,ZUE,PLN,3.3800,3.3800,3.3200,3.3300,35.66,16-09-2022
419,ZYWIEC,PLN,480.0000,480.0000,480.0000,480.0000,2.88,16-09-2022

In [3]:
# map_financial_data(df,conn)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ticker               420 non-null    object
 1   Currency             420 non-null    object
 2   Open                 420 non-null    object
 3   Max                  420 non-null    object
 4   Min                  420 non-null    object
 5   Close                420 non-null    object
 6   Volume_in_thousands  420 non-null    object
 7   Date                 420 non-null    object
dtypes: object(8)
memory usage: 26.4+ KB

In [ ]:
from gpw_functions import get_stock_prices
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://j341:ED1F_a359b0@psql01.mikr.us:5432/db_j341")
conn = engine.connect()

starts = ['01-01-2010','01-01-2011','01-01-2012','01-01-2013','01-01-2014','01-01-2015','01-01-2016','01-01-2017','01-01-2018','01-01-2019','01-01-2020','01-01-2021','01-01-2022']
stops = ['31-12-2010','31-12-2011','31-12-2012','31-12-2013','31-12-2014','31-12-2015','31-12-2016','31-12-2017','31-12-2018','31-12-2019','31-12-2020','31-12-2021','09-09-2022']

for start,stop in zip(starts,stops):

    df = get_stock_prices(start,stop)
    df.to_sql('notowania',schema='gpw',con=conn, if_exists='replace')

In [ ]:
## MM DD RRRR
date_from = '02-01-2015'
day_from = date_from[:2]
month_from = date_from[3:5]
year_from = date_from[-4:]

date_to = '05-01-2015'
day_to = date_to[:2]
month_to = date_to[3:5]
year_to = date_to[-4:]


q = f"""select * from gpw.notowania where Date_new > '{year_from}-{month_from}-{day_from}' and Date_new <= '{year_to}-{month_to}-{day_to}' """

df = pd.read_sql(q,con=conn).drop(columns=['level_0','index'])
df.loc[df['Ticker'].str.contains('06')]

## POTRZEBA RRRR MM DD

In [ ]:
# df['Date'] = df.Date.apply(lambda x: str(x))
df['Date_new'] = df.Date.str[-4:]+'-'+df.Date.str[3:5]+'-'+df.Date.str[:2]
df.to_sql('notowania',con=conn, if_exists='replace')

In [ ]:
def get_data_from_db(date_from,date_to,ticker):
    
    engine = create_engine("mysql+pymysql://test_user:Kolesgit99!@192.168.88.199:3307/GPW?charset=utf8mb4")
    conn = engine.connect()

    q = f"""select * from notowania where Date_new > '{year_from}-{month_from}-{day_from}' and Date_new <= '{year_to}-{month_to}-{day_to}' """

    df = pd.read_sql(q,con=conn).drop(columns=['level_0','index'])


    if ticker=='ALL':
        return df
        
    else:
        return df.loc[df['Ticker'].str.contains(ticker)]

## Connection

In [ ]:

def test_conn(db_type,db_user,db_pass,db_ip,db_port,database):

    if db_type=='PostgreSQL':
        engine = create_engine(f"""postgresql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")      

    elif db_type=='MySQL':
        engine = create_engine(f"""mysql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")

    elif db_type=='Oracle':
        engine = create_engine(f"""oracle://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")

    elif db_type=='SQL Server':
        engine = create_engine(f"""mssql+pymssql://{db_user}:{db_pass}@{db_ip}:{db_port}/{database}""")


    try:
        engine.connect()
        msg = 'Connected!'        
        return engine, msg

    except Exception:
        msg = 'Check your db credentials'
        return engine, msg

In [ ]:
import sqlite3

conn = sqlite3.connect('../static/db_credentials/creds.db')

In [ ]:
import pandas as pd
conn_str = ['postgresql://test_user:Kolesgit99!@192.168.88.199:3306/otomoto','active']
pd.DataFrame(conn_str).T.rename({0:'connection_string',1:'status'},axis=1).to_sql('connections',if_exists='append',con=conn)

In [ ]:
q = 'select * from connections'
pd.read_sql(q,con=conn)